pracownicy{
    font-family: Verdana,Arial
}
pracownik{
    display:block;
    font-size: 14pt;
    font-weight: bold;
    padding:10px;
    background-color: #FFCC00;
}
pracownik_fizyczny{
    display:block;
    font-size: 14pt;
    font-weight: bold;
    padding:10px;
    background-color: #66FF00;
}
pracownik_umyslowy{
    display:block;
    font-size: 14pt;
    font-weight: bold;
    padding:10px;
    background-color: #CCFFFF;
}